
body{
  background-color: lightgray;
  font-family: 'Times New Roman', Times, serif;
}

.react-confirm-alert-body {
  width: 100%;
  padding: 30px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 10px lightseagreen;
  color: #666;
  border: 2px solid lightseagreen;
}

.react-confirm-alert-button-group > button {
  border: none;
  width: 45%;
}

.event-container{
  background: white;
    margin-top: 1%;
    margin-bottom: 5%;
    width: auto;
    padding: 30px;
    box-shadow: 0 10px 10px lightslategrey;
}

.column {
  padding: 10px;
}

.left {
  width: 20%;
}

.right {
  width: 75%;
}

.row1{
  display: inline-block;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.is-free-btn{
   background: green;
    float: left;
    border-color: green;
    color: white;
    padding: 0px 10px 0 10px;
    border-radius: 10px;
    margin: 0 50px 0 10px;
    outline: none;
}

.signup-btn{
  float: right;
  border-color: cornflowerblue;
  color: blue;
  background: white;
  padding: 5px;
}

.row1-cls{
  padding:10px;
}

.name-with-free-cls{
  font-weight: bold;
}

.name-cls{
  font-weight: bold;
}

.checkbox-cls{
  display:grid;
}

.filter-container  input{
  vertical-align: middle;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid lightseagreen;
  border-radius: 10px;
  outline: none;
}

.all-events-view{
  display : inline-flex;
  width: 100%;
  background-color :lightgray;
}

.filter-container{
  padding : 1%;
}

.filter-container div{
  margin-bottom: 30px;
}

@media (max-width: 980px){
  .left {
       width: 100%;
   }

   .right{
       width: 100%;
   }

   .header-links{
     float: left;
   }

   .all-events-view{
     display : block;
   }

}

img{
  height: 16px;
  width: 16px;
  padding-right: 5px;
}

.date-cls{
  margin-left:10px;
}

.img-logo{
  height: 15%;
  width: 15%;
}

.content-table{
  padding: 2%
}

.header-links{
  float: right;
}

.header-container{
  min-height: 80px;
  background-color: white;
  padding-left: 1%;
}

.header-link{
  border: none;
    background: white;
    padding: 20px;
    cursor: pointer;
    outline: none;
}

.display-inline{
  display: inline-flex;
}

.display-block{
  display: block;
}

.my-events-container{
  width: 100%;
}

.no-data-cls{
  padding: 1%;
}


